body{
    text-align: center;
    background-color: #305050;
    color: white;
}
.titulo-secundario{ 
    color: orange;
}
.imagem{
    width: 50%;
}
.linha {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
  }